hello-world
doc
format
debug
display
list

primitves
tuple
array-and-slice

structures
enums
use
linked-list

scope

casting
inference

from-to
from-to-string

if-else
loop
match
guard
binding
if-let
while-let