# All
*.rlib
target/

# Chapter 1.
hello-world
doc
format
debug
display
list

# Chapter 2.
primitves
tuple
array-and-slice

# Chapter 3.
structures
enums
use
linked-list

# Chapter 4.
scope

# Chapter 5.
casting
inference

# Chapter 6.
from-to
from-to-string

# Chapter 8.
if-else
loop
match
guard
binding
if-let
while-let

# Chapter 9.
fibonnaci
methods
closures
capture
input-function
output-function
as-input
as-outut
iterator-any
hof

# Chapter 10.
split

# Chapter 11.
exec